# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
env
.env
.env.local
.env.*.local
.local/
db.sqlite3
media/

# Django static files
/staticfiles/
/static/

# Log files
*.log
logs/

# Other
*.swp
.DS_Store
